html,
body,
.map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.customControl {
    display: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    /* max-width: 250px; */
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767.98px) {
    .customControl {
        max-width: 100%;
    }
}

.closeButton {
    flex-basis: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 3px;
    height: 15px;
    cursor: pointer;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTQgLjdsLS43LS43TDcgNi4zLjcgMCAwIC43IDYuMyA3IDAgMTMuM2wuNy43TDcgNy43bDYuMyA2LjMuNy0uN0w3LjcgN3oiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") 50% no-repeat;
    opacity: 0.3;
}

.content {
    padding: 5px;
    /* max-height: 250px; */
    /* max-height: 600px; */
    overflow: auto;
}

a,
a:visited {
    color: #04b;
    text-decoration: none !important;
}

.btn-map {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-map__minus {
    margin-bottom: 15px;
}

.btn-map img {
    width: 20px;
    height: 20px;
}

/* MOBILE */
/* @media (max-width: 767.98px) {
    .btn-map {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #fff;
    }
} */